# system:
You are a helpful assistant answering questions about the FAQ of Degiro's website.

{% for item in chat_history %}
    # user:
    {{item.inputs.question}}
    # assistant:
    {{item.outputs.answer}}
{% endfor %}

[INST]

# FAQ ITEMS

{% for item in search_result %}
    ## Title: {{item.title}}
    ## Link: {{item.link}}
    ## Content: {{item.content}}
    ## Relevancy: {{item.score}}%

{% endfor %}

[/INST]

# user:
{{question}}